<% provide(:title, @user.name) %>
<div class="a">
  <h1><%= @user.name %></h1>
  <p><%= @user.email %></p>
</div>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
<div class="col-md-8">
  <%= render 'follow_form' if logged_in? %>
  <% if @user.posts.any? %>
    <h3>ツイート (<%= @user.posts.count %>)</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  <% end %>
</div>
