<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Mini Tweet App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <div class="header-logo">
      <a href="">Mini Tweet</a>
    </div>
    <div class="header-menus">
      <a href="">about</a>
    </div>
  </header>

  <%= yield %>
</body>
</html>
